/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

body{
    background: url("../images/paper.png") repeat fixed;
    padding: 30px 0 50px 0;
    font-size: 18px;
    font-family: curial;
}

a{
    color: #000000;
}

h1{
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

h2{
    margin: 0 10px 10px 10px;
    font-size: 22px;
}
h3{
    margin: 5px 0 10px 0;
    font-size: 20px;
}

.header {
    float: left;
}

.header img.logo{
    width: 240px;
    height: 80px;
}

.header h2{
    margin-left: 0;
}

.menu {
    margin: 10px 0;
    background: url("../images/menuBg.png") repeat-x;
    border-radius: 10px 10px;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
    text-transform: uppercase;
}

.menu ul li a:first-child{
    padding: 10px 20px 10px 10px;
}

.menu ul li a:hover{
    text-decoration: underline;
}

.boxes{
    margin: 40px 0 0 0;
    float: left;
}

.boxes h2{
    text-align: center;
}

.boxes img.shadow {
    box-shadow: 9px 9px 6px -5px #c6c6c6;
    -moz-box-shadow: 9px 9px 6px -5px #c6c6c6;
}

.footer{
    margin: 80px 0 0 0;
    float: left;
}

.footer .facebook, .footer .twitter, .footer .gplus{
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 0;
    background: url("../images/icons.png") no-repeat;
}

.footer .facebook{
    background-position: 0 -112px;
}

.footer .twitter{
    background-position: 0 -140px;
}

.footer .gplus{
    background-position: 0 -168px;
}

.footer p{
    text-align: right;
}

.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.content{
    min-height: 400px
}

.content label{
    float: left;
    font-size: 18px;
    margin: 3px 0 0 0;
}

.content select{
    float: left;
    margin: 3px 35px 0 8px;
}

.content form#userRegistration{
    width: 340px;
    margin: 10px auto;
}

.content form#userRegistration label{
    width: 160px
}

.content form#userRegistration input{
    width: 170px;
}

.content form#userRegistration input[type="submit"]{
    margin: 5px 85px;
}

.content form#szakiRegistration{
    width: 430px;
    margin: 10px auto;
}

.content form#szakiRegistration .profession{
    float: left;
}

.content form#szakiRegistration .profession label{
    float: none;
}

.content form#szakiRegistration select{
    float: none;
    margin: 3px 0 0 2px;
    width: 153px;
}

.content form#szakiRegistration label{
    width: 140px;
}

.content .handyman{
    margin: 0;
}

.content .handyman p.profession{
    margin: 10px 0;
}

.content .handyman p.phone{
    margin: 5px 15px 20px 15px;
}

.content .rating{
    
    /*float: left;
    margin: 10px 0;*/
    padding: 10px 0;
    border-radius: 10px 0px;
    -moz-border-radius: 10px 0px;
    background: url("../images/ratingBoxBg.png") repeat;
    box-shadow: 4px 4px 10px #c6c6c6;
    -moz-box-shadow: 4px 4px 10px #c6c6c6;
}

.content .rating p.sender{
    margin: 0 0 5px 10px;
    width: 350px;
    float: left;
}

.content .rating p.date{
    text-align: right;
    margin: 0 10px 5px 0;
    width: 90px;
    float: left;
}

.content .rating p.mark, .content .rating p.description{
    width: 440px;
    margin: 0 10px 5px 10px;
}

.content .ratingButton{
    background: url("../images/ratingBoxBg.png") repeat;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    float: left;
    margin: 15px 10px 10px 10px;
    box-shadow: 4px 4px 10px #c6c6c6;
    -moz-box-shadow: 4px 4px 10px #c6c6c6;
    text-decoration: none;
}

.content .ratingButton:hover{
    text-decoration: underline;
}

.content form#rating{
    width: 295px;
    margin: 10px auto;
}

.content form#rating label{
    width: 90px;
}

.content form#rating textarea{
    width: 190px;
    height: 60px;
    margin: 6px 0 0 2px;
}

.content form#rating input[type="submit"]{
    margin: 5px 93px;
}

.introImg{
    width: 100%;
    height: 500px;
}

.introLogo{
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
}

.introLink{
    display: block;
    margin: 10px auto;
    text-align: center;
}

audio{
    display: block;
    margin: auto;
}